*{
    margin: 0;
    padding: 0;
    background-color: gray;
    border: none;
}
.main-container{
    padding: 50px;
}
.block-news{
    width: 760px;
    height: 200px;
    background-color: white;
    overflow: hidden;
    padding: 10px 20px;
}
.block-news img {
    width: 180px;
    height: 120px;
    float: left;
    box-shadow: 2px 2px 5px ;
    margin-top: 10px;
    margin-right: 20px;
    transition: 0.4s;
}
.block-news a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px 0px ;
    background-color: transparent;
    color: black;
    transition: 0.4s;
}
.block-news p{
    background-color: transparent;
    margin: 10px 25px;
    color: gray;
    transition: 0.4s;
}

.block-news:hover a {
    color: aqua;
    transition: 0.4s;
}
.block-news:hover p{
    color: black;
    transition: 0.4s;
}
.block-news:hover img{
    box-shadow: 5px 5px 10px;
    transition: 0.4s;
}