*{
    margin: 0;
    padding: 0;
    border: none;
    background-color: gray;
}
.main-contain{
    width: 560px;
    height: 400px;
    background-color: #ffffff;
    margin: 50px;
    padding: 10px;
}
.follow-title {
    border-bottom: 3px solid black;
    background-color: transparent;
}
.follow-title h3 {
    font-family: 'Roboto', sans-serif;
    color: yellow;
    background-color: black;
    display: inline;
    padding: 0px 10px;
}
.follow-icon{
    margin-top: 10px;
}
.icon{
    width: 180px;
    height: 180px;
    background-color: aqua;
    float: left;
    margin-right: 10px;
    /* text-align: center; */
}
.icon p{
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    margin: 10px;
    font-size: 25px;
}
.icon i{
    display: flex;
    background-color: transparent;
    font-size: 60px;
    margin-top: 20px;
    justify-content: center;
}
.facebook{
    background-color: #3b5998;
}

.twiter {
    background-color: rgb(29, 202, 255);
}
.google-plus{
    background-color: rgb(221, 75, 57);
    margin-right: 0px;
}
